/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1 {
  text-align: center;
  font-family: helvetica;
  padding: 20px;
}

#welcome, #js-restart-quiz {
  display: block;
  text-align: center;
}

.question-and-score {
  list-style: none;
  text-align: center;
}

form {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

#question-result {
  text-align: center;
}

